<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

</head>
<body>
	<div th:replace="layout/layout :: header"></div>

	<div class="container container-head align-middle">
		<div class="row" style="margin-top:50px">
			<div class="col-sm-2 d-inline-block">
				<img th:src="@{/itindro/logoitindro.png}" id="imagen" class="img-fluid w-80"/>
			</div>
			<div class="col-sm-8 d-inline-block text-center align-middle">
				<h3 th:text="${titulo}" class="text-title"></h3>
			</div>
			<div class="col-sm-2 d-inline-block">
				<img th:src="@{/itindro/logoitindro.png}" id="imagen" class="img-fluid w-80"/>
			</div>
		</div>
		
	</div>
	

	<div class="container container-body">
		<form th:action="@{/solicitudRadicacion}"  th:object="${radicacioncomunicacion}"  method="post" enctype="multipart/form-data">
			<div class="card my-3" >
			  <div class="card-header py-1 align-middle">
			    <h5 class="text-title-section">Información del Remitente</h5>
			  </div>
			  <div class="card-body">
				  <div class="row">
						<div class="form-group col-sm-6  d-inline-block">
							<label class="col-form-label input-requerido-label">Tipo de Identificación</label>
						     <select  class="form-control form-control form-control-sm input-requerido-label" 
					     			th:field="*{rad_tipoidentificacion}" id="rad_tipoidentificacion" name="rad_tipoidentificacion" >
							      <option value=""></option>
							      <option th:each="tipo_identificacion: ${TipoDocumento}" th:value="${tipo_identificacion.tido_id}" th:text="${tipo_identificacion.tido_descripcion}"></option>
						    </select>
						    <small	class="form-text text-danger" th:if="${#fields.hasErrors('rad_tipoidentificacion')}" th:errors="*{rad_tipoidentificacion}"></small>
					  	</div>
		  				<div class="form-group col-sm-6  d-inline-block">
							<label class="col-form-label input-requerido-label">Número de Identificación</label>
							<input type="text" class="form-control form-control-sm"	
									th:field="*{rad_identificacion}" name="rad_identificacion" id="rad_identificacion" /> 
		  					<small	class="form-text text-danger" th:if="${#fields.hasErrors('rad_identificacion')}" th:errors="*{rad_identificacion}"></small>
		  				</div>
  					</div>
  					<div class="row">
						<div class="form-group col-sm-4  d-inline-block">
							<label class="col-form-label input-requerido-label">Nombres</label>
							<input type="text" class="form-control form-control-sm"	
									th:field="*{rad_nombres}"  name="rad_nombres" id="rad_nombres" /> 
							<small	class="form-text text-danger" th:if="${#fields.hasErrors('rad_nombres')}" th:errors="*{rad_nombres}"></small>
					  	</div>
		  				<div class="form-group col-sm-4  d-inline-block">
							<label class="col-form-label input-requerido-label">Primer Apellido</label>
							<input type="text" class="form-control form-control-sm"	
								th:field="*{rad_primerapellido}"  name="rad_primerapellido" id="rad_primerapellido" /> 
							<small	class="form-text text-danger" th:if="${#fields.hasErrors('rad_primerapellido')}" th:errors="*{rad_primerapellido}"></small>
						</div>
		  				<div class="form-group col-sm-4  d-inline-block">
							<label class="col-form-label input-requerido-label">Segundo Apellido</label>
							<input type="text" class="form-control form-control-sm"	
									th:field="*{rad_segundoapellido}"  name="rad_segundoapellido" id="rad_segundoapellido" /> 
				 			<small	class="form-text text-danger" th:if="${#fields.hasErrors('rad_segundoapellido')}" th:errors="*{rad_segundoapellido}"></small>
						</div>  					
					</div>
  					<div class="row">
						<div class="form-group col-sm-4  d-inline-block">
							<label class="col-form-label input-requerido-label">Departamento</label>
						     <select  class="form-control form-control form-control-sm input-requerido-label"
						     			id="rad_departamento" name="rad_departamento" onchange="onchageDepartamento(this.value);">
							      <option></option>
							      <option th:each="departamento: ${Departamento}" th:value="${departamento.departamento_codigo}" th:text="${departamento.departamento_nombre}"></td>
						    </select>
					  	</div>
					  	<div class="form-group col-sm-4  d-inline-block">
							<label class="col-form-label input-requerido-label">Ciudad</label>
						     <select  class="form-control form-control form-control-sm input-requerido-label" 
						    	  th:field="*{rad_municipio}" id="rad_municipio" name="rad_municipio">
						    </select>
						    <small class="form-text text-danger" th:if="${#fields.hasErrors('rad_municipio')}" th:errors="*{rad_municipio}"></small>
					  	</div>
						<div class="form-group col-sm-4  d-inline-block">
							<label class="col-form-label input-requerido-label">Dirección</label>
							<input type="text"  class="form-control form-control-sm input-requerido-label"	
									th:field="*{rad_direccion}" name="rad_direccion" id="rad_direccion" /> 
				  			<small class="form-text text-danger" th:if="${#fields.hasErrors('rad_direccion')}" th:errors="*{rad_direccion}"></small>
					  	</div>
  					</div>
  					<div class="row">
		  				<div class="form-group col-sm-4  d-inline-block">
							<label class="col-form-label input-requerido-label">Barrio</label>
							<input type="text" class="form-control form-control-sm input-requerido-label"	
							 		th:field="*{rad_barrio}"  name="rad_barrio" id="rad_barrio" /> 
							<small class="form-text text-danger" th:if="${#fields.hasErrors('rad_barrio')}" th:errors="*{rad_barrio}"></small>
						</div>
						<div class="form-group col-sm-4  d-inline-block">
							<label class="col-form-label input-requerido-label">Teléfono</label>
							<input type="text" class="form-control form-control-sm input-requerido-label"	
									th:field="*{rad_telefono}"  name="rad_telefono" id="rad_telefono"/> 
							<small class="form-text text-danger" th:if="${#fields.hasErrors('rad_barrio')}" th:errors="*{rad_barrio}"></small>
					  	</div>
		  				<div class="form-group col-sm-4  d-inline-block">
							<label class="col-form-label input-requerido-label">Correo electronico</label>
							<input type="text" class="form-control form-control-sm input-requerido-label"
									th:field="*{rad_correo}" name="rad_correo" id="rad_correo" /> 
							<small class="form-text text-danger" th:if="${#fields.hasErrors('rad_correo')}" th:errors="*{rad_correo}"></small>
						</div>
					</div>
				    <div class="row">
			  				<div class="form-group col-sm-4  d-inline-block">
							<label class="col-form-label input-requerido-label">Confirmar correo electronico</label>
							<input type="text"  name="rad_correo_confirmacion" id="rad_correo_confirmacion" class="form-control form-control-sm input-requerido-label"/> 
						</div>  					
					</div>
			  </div>
			</div>
			<div class="card my-2" >
			  <div class="card-header py-1">
			    <h5 class="text-title-section">Resumen de la Comunicación</h5>
			  </div>
			  <div class="card-body">
				  <div class="row">
						<div class="form-group  col-sm-12  d-inline-block">
							<label class="col-form-label input-requerido-label">Asunto</label>
							<input type="text" th:field="*{rad_asunto}" name="numero_identificacion" id="primernombre" class="form-control form-control-sm"	/> 
						 	<small class="form-text text-danger" th:if="${#fields.hasErrors('rad_asunto')}" th:errors="*{rad_asunto}"></small>
						</div>
					</div>
  					<div class="row">
						<div class="form-group col-sm-6  d-inline-block">
							<label class="col-form-label input-requerido-label">Resumen</label>
					  		<textarea class="form-control" th:field="*{rad_resumen}"></textarea>
					  	</div>
						<div class="form-group col-sm-6  d-inline-block">
							<label class="col-form-label input-requerido-label">Adjuntar archivo</label>
            				<input type="file"  id="files" name="files" accept=".pdf, .doc, .docx" multiple="multiple">
					      	<div id="fileList"></div>

					  	</div>
					</div>
			  </div>
			</div>
			<button type="submit" class="btn-sm btn-primary">Enviar</button>

						

		</form>


<!--		<div th:object="${cliente}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>
		<form th:action="@{/form}" th:object="${cliente}" method="post">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Nombre</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{nombre}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Apellido</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{apellido}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Email</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{email}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Fecha</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" th:field="*{createAt}"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-6">
					<input type="submit" value="Crear Cliente" class="btn btn-primary" />
				</div>
			</div>

		</form>-->
	</div>
</body>
</html>
 <script>
        const fileInput = document.getElementById('files');
        const fileList = document.getElementById('fileList');

        fileInput.addEventListener('change', function() {
            fileList.innerHTML = ''; // Limpia la lista de archivos cada vez que se selecciona un archivo nuevo
            const files = fileInput.files;
            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const fileName = file.name;
                const fileSize = (file.size / 1024).toFixed(2) + ' KB'; // Tamaño en KB
                const listItem = document.createElement('div');
                listItem.textContent = `Nombre del archivo: ${fileName}, Tamaño: ${fileSize}`;
                fileList.appendChild(listItem);
            }
        });
        
    function onchageDepartamento(value){
    fetch("/municipios/" + value)
        .then(function(response) {
            if (response.ok) {
                return response.text(); // Puedes usar response.json() si esperas un JSON en lugar de texto
            } else {
                throw new Error("Error en la solicitud.");
            }
        })
    	.then(data => {
       		const datos = JSON.parse(data);
			console.log(typeof data);
			const select = document.getElementById('rad_municipio');
			select.innerHTML = '';

			  datos.forEach(dato => {
		            const option = document.createElement('option');
		            option.value = dato.municipio_id; // Puedes aplicar trim para eliminar espacios en blanco adicionales
		            option.text = dato.municipio_nombre;
		            select.appendChild(option);
		        });

        })
        .catch(function(error) {
            // Manejar errores
            console.error("Error: " + error);
        });
		}
		
		
		
</script>